linkpics_back/back-app/src/IA/face_recognition/boost_1_64_0/
linkpics_back/back-app/src/IA/classificadores
linkpics_back/back-app/src/PLN/stanfordNER/
linkpics_back/back-app/src/PLN/TreeTagger*/
linkpics_back/back-app/src/TreeTagger_old/
linkpics_back/back-app/src/PLN/treetagger-python/
linkpics_back/back-app/src/noticia_atual/*
linkpics_back/back-app/src/noticias/
linkpics_back/back-app/src/noticias/*
input.txt
so_text.txt

__pycache__
*.png
*.jpg
IA/*/
*.pyc

# auxiliar TXT
output.txt
urls.txt
*titulo.txt
*noticia.txt
*embedding*.txt
*wup*.txt
*caption.txt
*image_result.txt
*alinhamento*.txt

*.json
*.weights
*.csv
app/static/noticias

*.db

*.tar.gz
linkpics_back/back-app/src/noticias_*/
.idea/
*venv/

linkpics_back/back-app/src/amr/*/
linkpics_back/back-app/src/amr/Data
linkpics_back/back-app/src/amr/stanford-*
linkpics_back/back-app/src/amr/glove/
data/
