IA/face_recognition/boost_1_64_0/
PLN/stanfordNER/
PLN/TreeTagger*/
TreeTagger_old/
PLN/treetagger-python/
noticia_atual/
alinhamento_web/
__pycache__
*.png
*.jpg
IA/__init__.py
IA/*.pyc
IA/*/
*.pyc

# auxiliar TXT
output.txt
urls.txt
visual_words.txt
*titulo.txt
*noticia.txt
*embedding*.txt
*wup*.txt
*caption.txt
*image_result.txt
*alinhamento*.txt

*.json
*.weights
static/
*.tar.gz
noticias_*/
.idea/
*venv/

amr/*/
amr/Data/
data/
