[submodule "app/src/amr/AMR_AS_GRAPH_PREDICTION"]
	path = app/src/amr/AMR_AS_GRAPH_PREDICTION
	url = https://github.com/ChunchuanLv/AMR_AS_GRAPH_PREDICTION
[submodule "app/src/amr/neural-graph-to-seq-mp"]
	path = app/src/amr/neural-graph-to-seq-mp
	url = https://github.com/freesunshine0316/neural-graph-to-seq-mp
