app/IA/face_recognition/boost_1_64_0/
app/PLN/stanfordNER/
app/PLN/TreeTagger*/
app/TreeTagger_old/
app/PLN/treetagger-python/
app/noticia_atual/

__pycache__
*.png
*.jpg
IA/*/
*.pyc

# auxiliar TXT
output.txt
urls.txt
visual_words.txt
*titulo.txt
*noticia.txt
*embedding*.txt
*wup*.txt
*caption.txt
*image_result.txt
*alinhamento*.txt

*.json
*.weights
static/
*.tar.gz
noticias_*/
.idea/
*venv/

app/amr/*/
app/amr/Data
app/amr/stanford-*
data/
