<footer class="section footer mt-5">
    <form action="{{ url_for('main.download_dictionary') }}"><button type="submit">Dicionario</button></form>
    <div class="container">
        <div class="row row-30 p-4">
            <h5 class="col col-12 text-center">Fork me on <a target="_blank" href="https://github.com/LALIC-UFSCAR/linkpics">Github!</a></h5>
            <h6 class="col col-12 text-center m-0">Laboratório de Linguística e Inteligência Computacional - <a target="_blank" href="https://sites.google.com/site/lalicufscar/"><b>LaLIC</b></a><br/>
                Departamento de Computação da Universidade Federal de São Carlos - <b>DC UFSCar</b></h6>
        </div>
    </div>
</footer>