{% extends 'helpers/base.html' %}

{% block titulo %}
    <title>LinkPICS | Submissão de alinhamentos (JSON)</title>
{% endblock %}

{% block conteudo %}
    {% include 'helpers/loading.html' %}
    <h1 class="custom-title">Submissão (JSON)</h1>
    <div class="row card p-4 my-2">
        <div class="col col-12 card-body">
            <form enctype="multipart/form-data" id="align-to-json" method="post" action="{{ url_for('main.all_json') }}">
                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                            <label class="custom-control custom-checkbox">
                                <input type="radio" class="form-check-input" name="restriction" id="restriction_all" value="all" checked>
                                Objetos e Entidades Nomeadas
                            </label>
                        </div>
                        <div class="col-4">
                            <label class="custom-control custom-checkbox">
                                <input type="radio" class="form-check-input" name="restriction" id="restriction_ne" value="ne">
                                Apenas entidades nomeadas
                            </label>
                        </div>
                        <div class="col-4">
                            <label class="custom-control custom-checkbox">
                                <input type="radio" class="form-check-input" name="restriction" id="restriction_obj" value="obj">
                                Apenas objetos
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-12">
                            <label for="batch_links">Links do conjunto</label>
                            <textarea class="form-control" name="links" rows="12" cols="50" id="batch_links"></textarea>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="btn-align-batch" >Alinhar batch!</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/loading.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/alignment_json.js') }}"></script>
{% endblock %}
