{% extends 'helpers/base.html' %}

{% block titulo %}
    <title>LinkPICS | AMR Graph Generator</title>
{% endblock %}

{% block conteudo %}
    {% include 'helpers/loading.html' %}
    <h1 class="custom-title m-4">Gerar grafos AMR</h1>
    <div class="row" id="amr_form_row">
        <div class="col-lg-12 my-4">
            <div class="m-4 rounded card">
                <label for="penman-area" class="row">
                    <textarea id="penman-area" class="text-monospace m-4 col" rows="25" cols="50">
                    </textarea>
                </label>
                {#                <img class="card-img-top img-responsive img-amr" style="object-fit: scale-down;" id="amr-graph" src="{{ url_for('static', filename='black_image.png') }}" alt="Card image cap">#}
                <div class="card-block">
                    <form enctype="multipart/form-data" id="amr-form" method="POST" action="{{ url_for('amr.generate') }}">
                        <input name="csrf_token" type="hidden" id="amr_form_csrf" value="{{ csrf_token() }}" />
                        <h4 class="card-title" id="title">Título</h4>
                        <h6 class="card-subtitle mb-2 pb-4 text-muted" id="sub">Legenda</h6>
                        <p class="card-text" id="text" align="justify">Texto</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% include 'link_form.html' %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/loading.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/load_links.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $("#amr_form_row").hide()
        });

        $('#btnAlignFile').click(function (e){
            e.preventDefault();
            link = $('#url_folha').val();
            if (link == null) {
                alert('Você deve selecionar um Link!');
            } else {
                amr_click_function(link)
            }
        });

        function amr_click_function(link){
            $('#btnAlignFile').prop("disabled", true);
            $('#btnAlignLink').prop("disabled", true);
            form = $("#amr-form");
            data = {"link": link, 'csrf_token': $('#amr_form_csrf').val()};
            $.ajax({
                url: '/amr/generate',
                data: data,
                method: 'post',
                success: function(response){
                    amrSuccessFunction(response);
                }
            });
        }

        function amrSuccessFunction(response){
            title = $('#title');
            title.html(response["title"]);
            subtitle = $('#sub');
            subtitle.html(response["subtitle"]);
            text = $('#text');
            text.html(response["text"]);
            $('#btnAlignFile').prop("disabled", false);
            $('#btnAlignLink').prop("disabled", false);
            $("#amr_form_row").show();

            $("#amr-form a").each(function (index, item) {
                $(item).click(function (e) {
                    value = $(item).attr("value");
                    console.log(value);
                    $('#penman-area').val('');
                    $('#penman-area').val($(item).find("input").attr("value"));
                    {#$("#amr-graph").attr("src", "/static/graphs/Graph_" + value + ".png");#}
                });
                $(item).mouseover(function (e) {
                    $(item).attr("style", "color: red; cursor: default;");
                });
                $(item).on("mouseout", function (e) {
                    $(item).attr("style", "");
                })
            });

        }
    </script>
{% endblock %}
