body {
    background: rgba(135, 206, 250, 0.6);
    position: relative;
}

.left_side {
    max-width: 400px;
    margin-left: 10px;
}

.info_url {
    margin-bottom: 10px;
    border: solid 2px black;
    padding: 10px;
    background: white;
}

.info_manuais {
    margin-top: 10px;
    border: solid 2px black;
    padding: 10px;
    background: white;
}

.info_experimentos {
    margin-top: 10px;
    border: solid 2px black;
    padding: 10px;
    background: white;
    padding-bottom: 0px;
}



.info_resultados {
    margin-top: 10px;
    border: solid 2px black;
    padding: 10px;
    background: white;
}

h1 {
    text-align: center;
    color: black;
    font-size: 54px;
    padding-top: 15px;
}


.text_area_resultados {
    text-align: left;
    font-size: 20px;
}

.page-header {
    background: white;
    background-image: url("../lalic_2014.png");

    background-repeat: no-repeat;
    margin-top: -20px;
    font-family: 'Germania One', cursive;
}

#linkpics-titulo-header {
    font-family: 'Germania One', cursive
}

#img_alinhamento_acordeon {
    object-fit: scale-down;
}

#card-img-gdi {
    width: 30rem;
}