<!DOCTYPE html>
<html lang="en">
<head>
    {% block titulo %}<title>Link-PICS: Alinhador texto-imagem</title>{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head_static %}{% endblock %}
</head>
<body>

    {% block header %}<div class="page-header">
    <h1>Link-PICS: Alinhador texto-imagem</h1>
    </div>{% endblock %}

    <div class="main">
        {% block conteudo %}{% endblock %}
    </div>
    
    <div class="col-lg-5 col-xl-5">
        {% block col_direita %}{% endblock %}
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
</html>