{% extends 'helpers/base.html' %}

{% block header %}
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <h1><a id="linkpics-titulo-header" class="nav-link active" href="#">LinkPICS</a></h1>
        </li>
    </ul>
{% endblock %}

{% block conteudo %}
    <div class="modal fade" id="modal-avaliacao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" aria-expanded="true" data-backdrop="static">
        <div class="modal-dialog d-flex justify-content-center" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="body-modal-avaliacao" class="modal-body card">
                    <img class="img-responsive m-4 rounded float-right img_alinhamento" id="img_alinhamento_modal" src="static/black_image.png" alt="Card image cap">
                    <div id="col-direita">
                        <div class="info_resultados">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Bounding Box</th>
                                    <th>Avaliação - Alinhamento</th>
                                </tr>
                                </thead>
                                <tbody id="line_resultados">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="btnFimAvaliacao" class="btn btn-primary">Finalizar Avaliação</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="resultado-alinhamento">
        <div class="col-lg-12 my-4">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="heading-alinhamento-termos">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-alinhamento-termos" aria-expanded="true" aria-controls="collapse-alinhamento-termos">
                                Alinhamento
                            </a>
                            <button id="bttn-modal-avaliacao" type="button" class="float-right" data-toggle="modal" data-target="#exampleModalLong">
                                Avaliar
                            </button>
                        </h5>
                    </div>
                    <div id="collapse-alinhamento-termos" class="collapse show" role="tabpanel" aria-labelledby="heading-alinhamento-termos">
                        <div class="m-4 rounded float-right card">
                            <img class="card-img-top img-responsive img_alinhamento" id="img_alinhamento_acordeon" src="static/Project Resorts to App and Traps in order to Map out The Aedes Aegypti Mosquito in Acre_2_1.jpg" alt="Card image cap">
                            <div class="card-block" id="card-img-gdi">
                                {# Aqui serão inseridas as descrições geradas #}
                            </div>
                        </div>
                        <div class="card-block">
                            <form enctype="multipart/form-data" id="align-form" action="{{ form_action }}" method="POST">
                                <h4 class="card-title" id="titulo">Título</h4>
                                <h6 class="card-subtitle mb-2 pb-4 text-muted" id="legenda">Legenda</h6>
                                <p class="card-text" id="texto" align="justify">Texto</p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading-alinhamento-gdi">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-alinhamento-gdi" aria-expanded="false" aria-controls="collapse-alinhamento-gdi">
                                Descrições da Imagem
                            </a>
                        </h5>
                    </div>
                    <div id="collapse-alinhamento-gdi" class="collapse" role="tabpanel" aria-labelledby="heading-alinhamento-gdi">
                        <img class="img-responsive m-4 rounded float-right img_alinhamento" id="img_alinhamento_acordeon_gdi" src="static/black_image.png" alt="Card image cap">
                        <div class="card-block">
                                <h4 class="card-title" id="titulo_gdi">Título</h4>
                                <h6 class="card-subtitle mb-2 pb-4 text-muted" id="legenda_gdi">Legenda</h6>
                                <p class="card-text" id="texto_gdi" align="justify">Texto</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Digitando um link #}
    <div class="row" id="row-forms">
        <div class="col col-6 d-flex">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Alinhamento de notícia</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Entre com um link para a notícia.</h6>
                    <form enctype="multipart/form-data" id="linkform">
                        <div class="form-group">
                            <label for="input_link">Link para a notícia:</label>
                            <input id="input_link" name="input_link" style="width: 474.667px" placeholder="Insira um link para a notícia (Folha ou BBC)"/>
                        </div>
                        <button type="text" id="btnAlignLink" class="btn btn-primary">Alinhamento texto-imagem</button>
                    </form>
                </div>
            </div>
        </div>
        {# Carregando um arquivo #}
        <div class="col col-6 d-flex">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Alinhamento de notícia</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Carregue um arquivo contendo URLs</h6>
                    <form enctype="multipart/form-data" id="uploadfileform">
                        <div class="form-group">
                            <label for="url_folha">Link da página</label>
                            <select class="form-control" id="url_folha">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="fileupload">Escolha o arquivo</label>
                            <input type="file" id="choosed_file" name="choosed_file">
                            <div style="margin-top:5px">
                                <button type="text" id="btnCarregarLinks" class="btn btn-danger">Carregar Links</button>
                            </div>
                        </div>
                        <button type="text" id="btnAlignFile" class="btn btn-primary">Alinhamento texto-imagem</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/forms.js') }}"></script>
    <script type="text/javascript">
        $('#bttn-modal-avaliacao').click(function(e){
            $('#modal-avaliacao').modal('toggle');
        });
    </script>
{% endblock %}